@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cabin+Sketch|Raleway&display=swap');

:root {
    /* spaces */
    --padd: 25px;
    --marg: 40px 0px;
    --main-color: #ffd7c4;
    --main-col-opa: rgba(209, 176, 161, 0.63);
    --shadow: 3px 5px 10px;
    --trans: .35s ease-in-out;

    /* fonts */
    --title: 'Cabin Sketch', cursive;
    --span: 'Annie Use Your Telescope', cursive;
    --body-font: 'Raleway', sans-serif;
    --font-main-color: #464646;
    --font-sec-color: #ffffff;

}




/* /////////////////// */
/* //// Site Body //// */
/* /////////////////// */
html, body {
    background-color: #889FB6;
    overflow: hidden;
    color: var(--font-sec-color);
    font-family: var(--body-font);
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}




/* ///////////////////// */
/* function only classes */
/* ///////////////////// */
.float {
    float:left;
}

.clear::after {
    content: "";
    display:block;
    clear:both;
}

.only-small {
    display: none;
}

.disappear {
    display: none !important;
}



/* ///////////////////// */
/* // Div positioning // */
/* ///////////////////// */
#left, 
#right,
.middle {
    position: relative;
    padding: 25px;
    box-sizing: border-box;
}

#left, 
#right {
    width: 25%;
}

.middle {
    width: 50%;
    padding: 25px 40px;
}




/* ////////////// */
/* //// Left //// */
/* ////////////// */

/* Title: "Anime Word Guess" */
h1 {
    font-size: 80px;
    margin-bottom: 30px;
    font-family: var(--title);
    color: var(--main-color);
    text-shadow: 0 0 2px #29292993;
}

.title-div {
    border-bottom: 1px solid var(--font-main-color);
}

#score {
    margin: 30px auto;
    padding: 0 25px;
    line-height: 40px;
    font-weight: bolder;
    font-size: 25px;
}

.button-div {
    margin: 0;
    width: 100%;
    padding: 0;
}

.btn {
    background-color: var(--main-color);
    color: var(--font-main-color);
    text-shadow: 1px 1px 2px #fff;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all var(--trans);
}

.btn:hover {
    background-color: var(--font-main-color);
    color: var(--main-color);
    text-shadow: none;
}

/* Audio Button */
.audio-btn {
    opacity: .5;
    transition: all var(--trans);
}

.audio-btn:hover {
    opacity: 1;
}

.audio-active {
    opacity: 1;
}


/* /////////////// */
/* //// INTRO //// */
/* /////////////// */
#intro,
#win,
#lose {
    margin-top: 15%;
}

#intro {
    text-align: center;
    background-color: var(--main-col-opa);
    color: #fff;
}

#intro p {
    font-size: 17px;
    line-height: 1.5;
}

#intro button {
    background-color: var(--main-col-opa);
    text-shadow: 1px 2px 4px #000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 2px 4px #000;
    margin: 30px auto;
    padding: 12px 25px;
    width: 45%;
    border: 5px solid rgba(0, 0, 0, 0);
    transition: background-color var(--trans);
}

#intro button:hover {
    background-color: var(--main-color);
    color: #fff;
    border: 5px solid #fff;
}

#intro button:active {
    box-shadow: none;
    margin: 35px auto 25px auto;
}

.intro-img-div {
    position: absolute;
    width: 250px;
    bottom: -80px;
    right: -120px;

}

.intro-img-div img {
    width: 100%;
    object-fit: contain;
}


/* //////////////// */
/* //// Center //// */
/* //////////////// */
#health-bar {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    border: 1px solid var(--font-main-color);
    background-color: #aaa66c56;
    margin-top: 20px;
    margin-bottom: 15px;
}

#health-bar h6 {
    position: absolute;
    top: -22px;
}

#grow {
    position: absolute;
    border-radius: 10px;
    /* width: 50%; */
    height: 100%;
    bottom: 0;
    left: 0px;
    background-color: var(--main-color);
    z-index: 99;
}

/* Center Word Display */
h2 {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

/* Input */
#keyboard-pop {
    width: 185px;
    height: 20px;
    margin: 5px auto;
    text-align: center;
    position: relative;
    color: #646464;
}

#keyboard-pop input {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000000;
    border: none;
    outline: none;
    font-size: 15px;
    color: #00000000;
    letter-spacing: 1px;
    z-index: 99;
}

/* Chalk board */
#hang-word {
    margin: 30px auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
    border: 8px solid #977814;
    background-color: #333;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(70, 70, 70, 0.623);
}

#hang-word span {
    font-family: var(--span);
}

.letter {
    padding: 25px 10px;
    margin: 10px 0px; 
    line-height: 1.8;
    font-weight: bold;
}

#hang-word .letter {
    font-size: 50px;
    color: #fff;
}

/* incorrect words */
#key-wrong .letter {
    font-size: 30px;
}

/* Title: "Incorrect Guess" */
h5 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 40px;
    border-bottom: 1px solid var(--font-main-color);
}

.shrink {
    font-size: 20px;
}

#incorrect-div {
    height: 150px;
    position: relative;
    padding: 0 8px;
    text-align: center;
}

#key-wrong {
    text-align: justify;
}



/* ///////////////// */
/* ///// Right ///// */
/* ///////////////// */
/* Title: "Last Key Pressed", "Hint" */
h6 {
    font-size: 20px;
}

#key-press-div {
    text-align: center;
}

#key-press-circle {
    background-color: var(--main-color);
    margin: 20px auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid var(--font-main-color);
    box-shadow: 0 0 2px #fff;
    opacity: .85;
}

#key-press-div span {
    font-size: 100px;
    font-weight: bolder;
    line-height: 120px;
    height: 200px;
    color: var(--font-main-color);
    text-shadow: 0 0 4px #fff;
}

#hint-div {
    text-align: center;
    margin-top: 70px;
}

#hint-img {
    width: 100%;;
}

#key-press,
#key-wrong span {
    font-family: var(--span);
}



/* //////////////////// */
/* ///// Win Lose ///// */
/* //////////////////// */
#win,
#lose {
    padding: 0;
    height: 400px;
}

#win-img,
#lose-img {
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 1px #000;
    box-sizing: border-box;
}



/* ///////////////////////// */
/* ////// Media Query ////// */
/* ///////////////////////// */
@media screen and (max-width: 979px)  { 
    #left, 
    #right,
    .middle {
        position: relative;
        padding: 25px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    #score {
        margin: 20px auto;
        line-height: 1.5;
        font-size: 20px;
    }

    .btn {
        padding: 7px 10px;
    }

    h2 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    #hang-word .letter {
        font-size: 35px;
    }

    .letter {
        line-height: 1.3;
    }

    #incorrect-div {
        height: auto;
    }

    #hint-div {
        margin-top: 30px;
    }

    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 767px)  { 
    #left, 
    #right,
    .middle {
        padding: 15px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    #score {
        margin: 20px auto;
        padding: 10px;
        font-size: 20px;
    }

    .letter {
        padding: 20px 8px;
        margin: 8px 0px; 
    }

    #key-wrong .letter {
        font-size: 28px;
    }

    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 685px)  { 
    #left, 
    #right {
        width: 25%;
        padding: 5px;
        min-width: 125px;
    }

    .middle {
        width: 74%;
    }

    #left {
        height: 320px;
    }

    #right {
        position: absolute;
        top: 260px;
        left: 0;
    }

    h2 {
        font-size: 25px;
    }

    #hang-word {
        margin: 15px auto;
        width: 100%;
        min-height: 150px;
        border-width: 5px;
    }

    #key-wrong .letter {
        font-size: 22px;
        padding: 8px;
    }

    h5 {
        font-size: 20px;
    }


    /* Left Side */
    h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    #score {
        margin: 5px auto;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 1.5;
    }

    .btn {
        padding: 4px;
        margin: 2px;
        font-size: 12px;
        font-weight: normal;
    }

    /* Right Side */
    #key-press-circle {
        margin: 10px auto;
        height: 40px;
        width: 40px;
        border: 3px solid var(--font-main-color);
    }

    #key-press-div span {
        font-size: 30px;
        line-height: 1.3;
    }

    h6 {
        font-size: 12px;
    }

    #hint-div {
        margin-top: 10px;
        height: 100px;
    }

    #hint-img {
        width: auto;
        height: 100%;
    }



}

@media screen and (max-width: 494px)  { 
    .float {
        float: none;
    }

    #intro {
        position: absolute;
        top: 135px;
        left: 5%;
        width: 90%;
        padding: 15px 10px;
    }

    #intro button {
        font-size: 22px;
        padding: 5px;
        width: 80%;
    }

    h2 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    #intro p {
        font-size: 13px;
    }

    .intro-img-div {
        width: 150px;
        bottom: auto;
        right: 100px;
        top: -110px;
        margin-right: -75px;
    }

    #left {
        width: 100%;
        height: 180px;
        padding: 5px 0 0 0;
    }

    .title-div {
        border-bottom: none;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
    }

    #score {
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
    }

    #score h3 {
        display: inline;
        font-size: 15px;
        line-height: 10px;
        margin: 0 20px;
    }

    .button-div {
        width: 45%;
        margin-top: 5px;
    }

    .btn {
        margin: 2px 0 2px 5px;
    }

    #right {
        top: 60px;
        left: auto;
        right: 0;
        width: 45%;
    }

    #key-press-div {
        display: none;
    }

    #hint-div {
        width: 100%;
        height: 100px;
        margin-top: 0;
    }

    #hint-img {
        width: auto;
        height: calc(100% - 20px);
        
    }

    #center {
        padding: 0 5px;
    }

    .middle {
        width: 100%;
    }

    #health-bar {
        border: none;
        background-color: #00000000;
        margin: -7px 0px 10px 5px;
    }

    #grow {
        display: none;
    }

    #word-display2 {
        margin-bottom: 5px;
        padding: 8px 0px;
    }

    #hang-word {
        padding: 8px 0;
        margin: 5px 0;
    }

    #hang-word .letter {
        font-size: 25px;
        padding: 8px;
        margin: 5px 0px;
    }

    #key-wrong .letter {
        font-size: 18px;
    }

    .container {
        max-width: 540px;
    }
}