@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cabin+Sketch|Raleway&display=swap');

:root {
    /* spaces */
    --padd: 25px;
    --marg: 40px 0px;
    /* --main-color: #775186; */
    --main-color: #93759e;
    --main-col-opa: #4e6769a2;
    --shadow: 3px 5px 10px;
    --trans: .35s ease-in-out;

    /* fonts */
    --title: 'Cabin Sketch', cursive;
    --span: 'Annie Use Your Telescope', cursive;
    --body-font: 'Raleway', sans-serif;
    --font-main-color: #464646;
    --font-sec-color: #4a6580;

}




/* /////////////////// */
/* //// Site Body //// */
/* /////////////////// */
html, body {
    background-color: #fffbac;
    /* background-color: #C5DCA0; */
    overflow: hidden;
    color: var(--font-main-color);
    font-family: var(--body-font);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}




/* ///////////////////// */
/* function only classes */
/* ///////////////////// */
.float {
    float:left;
}

.clear::after {
    content: "";
    display:block;
    clear:both;
}

.only-small {
    display: none;
}

.disappear {
    display: none !important;
}



/* ///////////////// */
/* ///// FONTS ///// */
/* ///////////////// */
/* Anime Hangman */
h1 {
    font-size: 80px;
    margin-bottom: 50px;
    font-family: var(--title);
    color: var(--main-color);
    text-shadow: 0 0 1px #29292993;
}

/* Center Word Display */
h2 {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

/* Title: "Incorrect Guess" */
h5 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 40px;
}

/* Title: "Last Key Pressed", "Hint" */
h6 {
    font-size: 20px;
}

#incorrect-div h5 {
    border-bottom: 1px solid var(--font-main-color);
}



/* ///////////////////// */
/* // Div positioning // */
/* ///////////////////// */
#left, 
#right,
.middle {
    position: relative;
    padding: 25px;
    box-sizing: border-box;
}

#left, 
#right {
    width: 25%;
}

.middle {
    width: 50%;
    padding: 25px 40px;
}




/* ////////////// */
/* //// Left //// */
/* ////////////// */
#score {
    margin: 30px auto;
    padding: var(--padd);
    line-height: 40px;
    text-shadow: none;
    font-weight: bolder;
    font-size: 25px;
}

.button-div {
    margin: 0;
    width: 100%;
    padding: 0;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border: 2px solid var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: all var(--trans);
}

.btn:hover {
    background-color: #fff;
    color: var(--main-color);
    text-shadow: none;
}

/* Audio Button */
.audio-btn {
    opacity: .5;
    transition: all var(--trans);
}

.audio-btn:hover {
    opacity: 1;
}

.audio-active {
    opacity: 1;
}


/* /////////////// */
/* //// INTRO //// */
/* /////////////// */
#intro,
#win,
#lose {
    margin-top: 15%;
}

#intro {
    text-align: center;
    background-color: var(--main-col-opa);
    color: #fff;
}

#intro p {
    font-size: 17px;
    line-height: 1.5;
}

#intro button {
    background-color: var(--main-col-opa);
    text-shadow: 1px 2px 4px #000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    box-shadow: var(--shadow) #000;
    margin: 30px auto;
    padding: 12px 25px;
    width: 45%;
    border: 5px solid rgba(0, 0, 0, 0);
    transition: background-color var(--trans);
}

#intro button:hover {
    background-color: var(--main-color);
    color: #fff;
    border: 5px solid #fff;
}

#intro button:active {
    box-shadow: none;
    margin: 35px auto 25px auto;
}


/* //////////////// */
/* //// Center //// */
/* //////////////// */
#health-bar {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #504e4e;
    background-color: #97935e57;
    margin-top: 20px;
    margin-bottom: 60px;
}

#health-bar h6 {
    position: absolute;
    top: -22px;
}

#grow {
    position: absolute;
    border-radius: 10px;
    /* width: 50%; */
    height: 100%;
    bottom: 0;
    left: 0px;
    background-color: var(--main-color);
    z-index: 99;
}

#hang-word {
    margin: 40px auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
    border: 8px solid #977814;
    background-color: #333;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(70, 70, 70, 0.623);
}

.letter {
    padding: 25px 10px;
    margin: 10px 0px; 
    line-height: 1.8;
    font-weight: bold;
}

#hang-word .letter {
    font-size: 50px;
    color: #fff;
}

#key-wrong .letter {
    font-size: 30px;
}

#hang-word span {
    font-family: var(--span);
}

.shrink {
    font-size: 20px;
}

#incorrect-div {
    height: 150px;
    position: relative;
    padding: 20px;
    text-align: center;
}

#key-wrong {
    text-align: justify;
}



/* ///////////////// */
/* ///// Right ///// */
/* ///////////////// */
#key-press-div {
    text-align: center;
}

#key-press-circle {
    background-color: var(--main-color);
    margin: 20px auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #000;
    opacity: .85;
}

#key-press-div span {
    font-size: 100px;
    font-weight: bolder;
    line-height: 120px;
    height: 200px;
    color: #fff;
    text-shadow: 0 0 4px #111;
}

#hint-div {
    text-align: center;
    margin-top: 70px;
}

#hint-img {
    width: 100%;;
}

#key-press,
#key-wrong span {
    font-family: var(--span);
}



/* //////////////////// */
/* ///// Win Lose ///// */
/* //////////////////// */
#win,
#lose {
    padding: 0;
    height: 400px;
}

#win-img,
#lose-img {
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 1px #000;
    box-sizing: border-box;
}



/* ///////////////////////// */
/* ////// Media Query ////// */
/* ///////////////////////// */
@media screen and (max-width: 979px)  { 
    #left, 
    #right,
    .middle {
        position: relative;
        padding: 25px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }

    #score {
        margin: 30px auto;
    }
}

@media screen and (max-width: 767px)  { 
    #left, 
    #right,
    .middle {
        padding: 15px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #score {
        margin: 30px auto;
    }

    .only-small {
        display: block;
    }

    .input-keybord {
        margin: -40px auto 20px auto;
        background-color: #00000000;
        font-size: 20px;
        color: #00000000;
        border: none;
        
    }
}

@media screen and (max-width: 639px)  { 

}